<div id="cart-offcanvas" uk-offcanvas="overlay: true; flip: true">
  <aside class="uk-offcanvas-bar uk-padding-remove">
    <div
      class="uk-card uk-card-default uk-card-small uk-height-1-1 uk-flex uk-flex-column tm-shadow-remove"
    >
      <header class="uk-card-header uk-flex uk-flex-middle">
        <div class="uk-grid-small uk-flex-1" uk-grid>
          <div class="uk-width-expand"><div class="uk-h3">Cart</div></div>
          <button class="uk-offcanvas-close" type="button" uk-close></button>
        </div>
      </header>
      <div class="uk-card-body uk-overflow-auto">
        <ul class="uk-list uk-list-divider">
          <!-- cart item -->
          <% if(carts){%> <% carts.forEach(function(cartItem){ const {product} =
          cartItem %>
          <li class="uk-visible-toggle" data-id="<%= cartItem.orderId%>">
            <arttcle
              ><div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-4">
                  <div class="tm-ratio tm-ratio-4-3">
                    <a class="tm-media-box" href="/product/<%= product.productId %>"
                      ><figure class="tm-media-box-wrap">
                        <img
                          src="<%=product.anhMinhHoa %>"
                          alt='<%=product.tenSanPham %>'
                        /></figure
                    ></a>
                  </div>
                </div>
                <div class="uk-width-expand">
                  <div class="uk-text-meta uk-text-xsmall">Laptop</div>
                  <a class="uk-link-heading uk-text-small" href="/product/<%= product.productId %>"
                    ><%=product.tenSanPham %>
                  <div
                    class="uk-margin-xsmall uk-grid-small uk-flex-middle"
                    uk-grid
                  >
                    <div class="uk-text-bolder uk-text-small"><%= product.giaKhuyenMai %></div>
                    <div class="uk-text-meta uk-text-xsmall"><%= cartItem.qty %> × <%=product.giaKhuyenMai %></div>
                  </div>
                </div>
                <div>
                  <a
                    class=" uk-icon-link uk-text-danger uk-invisible-hover remove-order__js"
                    uk-icon="icon: close; ratio: .75"
                    uk-tooltip="Remove"
                    data-id="<%= cartItem.orderId%>"
                  ></a>
                </div></div
            ></arttcle>
          </li>
          <%})}%>
        </ul>
      </div>
      <footer class="uk-card-footer">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-expand uk-text-muted uk-h4">Tổng cộng</div>
          <div class="uk-h4 uk-text-bolder tong-cong__js"><%= tongTien%></div>
        </div>
        <div
          class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-margin-small"
          uk-grid
        >
          <div>
            <a
              class="uk-button uk-button-default uk-margin-small uk-width-1-1"
              href="cart"
              >view cart</a
            >
          </div>
          <div>
            <a
              class="uk-button uk-button-primary uk-margin-small uk-width-1-1"
              href="checkout"
              >checkout</a
            >
          </div>
        </div>
      </footer>
    </div>
  </aside>
</div>
