<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Giỏ hàng</title>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:400,500"
    />
    <link rel="stylesheet" href="styles/style.css" />
    <script src="scripts/uikit.js"></script>
    <script src="scripts/uikit-icons.js"></script>
  </head>
  <body>
    <div class="uk-offcanvas-content">
      <%- include('component/header')%>
      <main>
        <section class="uk-section uk-section-small">
          <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
              <div class="uk-text-center">
                <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
                  <li><a href="/">Trang chủ</a></li>
                  <li><span>Giỏ hàng</span></li>
                </ul>
                <h1 class="uk-margin-small-top uk-margin-remove-bottom">
                  Giỏ hàng
                </h1>
              </div>
              <div>
                <div class="uk-grid-medium" uk-grid>
                  <div class="uk-width-1-1 uk-width-expand@m">
                    <div
                      class="uk-card uk-card-default uk-card-small tm-ignore-container"
                    >
                      <header
                        class="uk-card-header uk-text-uppercase uk-text-muted uk-text-center uk-text-small uk-visible@m"
                      >
                        <div class="uk-grid-small uk-child-width-1-2" uk-grid>
                          <div>Sản phẩm</div>
                          <div>
                            <div
                              class="uk-grid-small uk-child-width-expand"
                              uk-grid
                            >
                              <div>Giá bán</div>
                              <div class="tm-quantity-column">Số lượng</div>
                              <div>Tổng</div>
                              <div class="uk-width-auto">
                                <div style="width: 20px"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </header>
                      <div class="uk-card-body">
                        <div
                          class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle cart-wrapper__js"
                          uk-grid
                        >
                          <!-- Product cell-->
                          <% if(carts){%> <% carts.forEach(function(cartItem){%>
                          <div
                            class="cart-item__page"
                            data-id="<%= cartItem.orderId%>"
                          >
                            <div class="uk-grid-small" uk-grid>
                              <div class="uk-width-1-3">
                                <div class="tm-ratio tm-ratio-4-3">
                                  <a
                                    class="tm-media-box"
                                    href="./product/<%= cartItem.productId%>"
                                    ><figure class="tm-media-box-wrap">
                                      <img
                                        src="<%= cartItem.product.anhMinhHoa%>"
                                        alt="<%= cartItem.product.tenSanPham%>"
                                      /></figure
                                  ></a>
                                </div>
                              </div>
                              <div class="uk-width-expand">
                                <div class="uk-text-meta"></div>
                                <a
                                  class="uk-link-heading"
                                  href="./product/<%= cartItem.productId%>"
                                  ><%= cartItem.product.tenSanPham%></a
                                >
                              </div>
                            </div>
                          </div>

                          <!-- Other cells-->
                          <div>
                            <div
                              class="uk-grid-small uk-child-width-1-1 uk-child-width-expand@s uk-text-center"
                              uk-grid
                            >
                              <div>
                                <div class="uk-text-muted uk-hidden@m">
                                  Giá bán
                                </div>
                                <div><%= cartItem.product.giaKhuyenMai%> VNĐ</div>
                              </div>
                              <div class="tm-cart-quantity-column">
                                <a
                                  onclick="incrementOrder(-1, '<%= cartItem.productId%>')"
                                  uk-icon="icon: minus; ratio: .75"
                                ></a
                                ><input
                                  class="uk-input tm-quantity-input"
                                  id="product-2"
                                  type="text"
                                  maxlength="3"
                                  value="<%= cartItem.qty%>"
                                /><a
                                  onclick="incrementOrder(+1, '<%= cartItem.productId%>')"
                                  uk-icon="icon: plus; ratio: .75"
                                ></a>
                              </div>
                              <div>
                                <div class="uk-text-muted uk-hidden@m">Tổng</div>
                                <div class="sum-cart__js">
                                  <%= cartItem.tongTien%>
                                </div>
                              </div>
                              <div class="uk-width-auto@s">
                                <a
                                  class="uk-text-danger remove-order__js"
                                  data-id="<%= cartItem.orderId%>"
                                  uk-tooltip="Remove"
                                  ><span uk-icon="close"></span
                                ></a>
                              </div>
                            </div>
                          </div>
                          <%})}%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-1-1 tm-aside-column uk-width-1-4@m">
                    <div
                      class="uk-card uk-card-default uk-card-small tm-ignore-container"
                      uk-sticky="offset: 30; bottom: true; media: @m;"
                    >
                      <div class="uk-card-body">
                        <div class="uk-grid-small" uk-grid>
                          <div class="uk-width-expand uk-text-muted">
                            Tổng
                          </div>
                          <div class="tong-cong__js"><%= tongTien%>VND</div>
                        </div>
                        <!-- <div class="uk-grid-small" uk-grid>
                          <div class="uk-width-expand uk-text-muted">
                            Discount
                          </div>
                          <div class="uk-text-danger">−$29</div>
                        </div> -->
                      </div>
                      <div class="uk-card-body">
                        <a
                          class="uk-button uk-button-primary uk-margin-small uk-width-1-1"
                          href="checkout"
                          >Thủ tục thanh toán</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="uk-section uk-section-default uk-section-small">
          <div class="uk-container">
            <div uk-slider>
              <ul
                class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-5@m uk-grid"
              >
                <li>
                  <div
                    class="uk-grid-small uk-flex-center uk-flex-left@s"
                    uk-grid
                  >
                    <div><span uk-icon="icon: star; ratio: 2.5;"></span></div>
                    <div
                      class="uk-text-center uk-text-left@s uk-width-expand@s"
                    >
                      <div>Mauris placerat</div>
                      <div class="uk-text-meta">
                        Donec mollis nibh dolor, sit amet auctor
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div
                    class="uk-grid-small uk-flex-center uk-flex-left@s"
                    uk-grid
                  >
                    <div>
                      <span uk-icon="icon: receiver; ratio: 2.5;"></span>
                    </div>
                    <div
                      class="uk-text-center uk-text-left@s uk-width-expand@s"
                    >
                      <div>Lorem ipsum</div>
                      <div class="uk-text-meta">
                        Sit amet, consectetur adipiscing elit
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div
                    class="uk-grid-small uk-flex-center uk-flex-left@s"
                    uk-grid
                  >
                    <div>
                      <span uk-icon="icon: location; ratio: 2.5;"></span>
                    </div>
                    <div
                      class="uk-text-center uk-text-left@s uk-width-expand@s"
                    >
                      <div>Proin pharetra</div>
                      <div class="uk-text-meta">
                        Nec quam a fermentum ut viverra
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div
                    class="uk-grid-small uk-flex-center uk-flex-left@s"
                    uk-grid
                  >
                    <div>
                      <span uk-icon="icon: comments; ratio: 2.5;"></span>
                    </div>
                    <div
                      class="uk-text-center uk-text-left@s uk-width-expand@s"
                    >
                      <div>Praesent ultrices</div>
                      <div class="uk-text-meta">
                        Praesent ultrices, orci nec finibus
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div
                    class="uk-grid-small uk-flex-center uk-flex-left@s"
                    uk-grid
                  >
                    <div><span uk-icon="icon: happy; ratio: 2.5;"></span></div>
                    <div
                      class="uk-text-center uk-text-left@s uk-width-expand@s"
                    >
                      <div>Duis condimentum</div>
                      <div class="uk-text-meta">
                        Pellentesque eget varius arcu
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul
                class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"
              ></ul>
            </div>
          </div>
        </section>
      </main>
      <footer>
        <section
          class="uk-section uk-section-secondary uk-section-small uk-light"
        >
          <div class="uk-container">
            <div
              class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-4@m"
              uk-grid
            >
              <div>
                <a class="uk-logo" href="index.html"
                  ><img
                    src="images/logo-inverse.svg"
                    width="90"
                    height="32"
                    alt="Logo"
                /></a>
                <p class="uk-text-small">
                  Chúng tôi luôn mang đến những sản phẩm cao cấp chính hãng đến tay khách hàng.
                </p>
                <ul class="uk-iconnav">
                  <li><a href="" title="Facebook" uk-icon="facebook"></a></li>
                  <li><a href="" title="Twitter" uk-icon="twitter"></a></li>
                  <li><a href="" title="YouTube" uk-icon="youtube"></a></li>
                  <li>
                    <a href="" title="Instagram" uk-icon="instagram"></a>
                  </li>
                </ul>
              </div>
              <div>
                <nav class="uk-grid-small uk-child-width-1-2" uk-grid>
                  <div>
                    <ul class="uk-nav uk-nav-default">
                      <li><a href="catalog.html">Mục lục</a></li>
                      <li><a href="brands.html">Nhãn hiệu</a></li>
                      <li><a href="faq.html">Câu hỏi thường gặp</a></li>
                      <li><a href="">Thanh toán</a></li>
                    </ul>
                  </div>
                  <div>
                    <ul class="uk-nav uk-nav-default">
                      <li><a href="about">Thông tin</a></li>
                      <li><a href="contact">Mục lục</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="news.html">Tin tức</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div>
                <ul class="uk-list uk-text-small">
                  <li>
                    <a class="uk-link-muted" href=""
                      ><span
                        class="uk-margin-small-right"
                        uk-icon="receiver"
                      ></span
                      ><span class="tm-pseudo">+84979420120</span></a
                    >
                  </li>
                  <li>
                    <a class="uk-link-muted" href=""
                      ><span class="uk-margin-small-right" uk-icon="mail"></span
                      ><span class="tm-pseudo">nguyenduyduong070699@gmail.com</span></a
                    >
                  </li>
                  <li>
                    <div class="uk-text-muted">
                      <span
                        class="uk-margin-small-right"
                        uk-icon="location"
                      ></span
                      ><span
                        >St.&nbsp;Nguyễn Văn Linh, Quận Thanh Khê&nbsp;Đà Nẵng&nbsp;</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class="uk-text-muted">
                      <span class="uk-margin-small-right" uk-icon="clock"></span
                      ><span>Giờ mở cửa 10:00–22:00</span>
                    </div>
                  </li>
                </ul>
              </div>
              <div>
                <form class="uk-form-stacked">
                  <label
                    ><div class="uk-form-label uk-text-muted">
                      Theo dõi
                    </div>
                    <div class="uk-inline uk-width-1-1">
                      <a
                        class="uk-form-icon uk-form-icon-flip"
                        href=""
                        uk-icon="mail"
                      ></a
                      ><input
                        class="uk-input"
                        type="email"
                        placeholder="Your email"
                        required
                      /></div
                  ></label>
                </form>
              </div>
            </div>
          </div>
        </section>
      </footer>
      <div id="nav-offcanvas" uk-offcanvas="overlay: true">
        <aside class="uk-offcanvas-bar uk-padding-remove">
          <div class="uk-card uk-card-default uk-card-small tm-shadow-remove">
            <header class="uk-card-header uk-flex uk-flex-middle">
              <div>
                <a class="uk-link-muted uk-text-bold" href=""
                  >+84979420120</a
                >
                <div
                  class="uk-text-xsmall uk-text-muted"
                  style="margin-top: -2px"
                >
                  <div>St.&nbsp;Nguyễn Văn Linh, Quận Thanh Khê&nbsp;Đà Nẵng&nbsp;</div>
                  <div>Giờ mở cửa 10:00–22:00</div>
                </div>
              </div>
            </header>
            <nav class="uk-card-small uk-card-body">
              <ul
                class="uk-nav-default uk-nav-parent-icon uk-list-divider"
                uk-nav
              >
                <li class="uk-parent">
                  <a href="catalog.html">Danh mục</a>
                  <ul class="uk-nav-sub uk-list-divider">
                    <li>
                      <a href="subcategory">Máy tính &amp; Máy tính bảng</a>
                    </li>
                    <li><a href="subcategory">Điện thoại &amp; Phụ kiện</a></li>
                    <li><a href="subcategory">TV &amp; Video</a></li>
                    <li>
                      <a href="subcategory">Trò chơi &amp; Giải trí</a>
                    </li>
                    <li><a href="subcategory">ảnh</a></li>
                    <li class="uk-text-center">
                      <a
                        class="uk-link-muted uk-text-uppercase tm-link-to-all"
                        href="catalog.html"
                        ><span>Xem tất cả mục lục</span
                        ><span uk-icon="icon: chevron-right; ratio: .75;"></span
                      ></a>
                    </li>
                  </ul>
                </li>
                <li class="uk-parent">
                  <a href="brands.html">Nhãn hiệu</a>
                  <ul class="uk-nav-sub uk-list-divider">
                    <li><a href="subcategory">Apple</a></li>
                    <li><a href="subcategory">Samsung</a></li>
                    <li><a href="subcategory">Sony</a></li>
                    <li><a href="subcategory">Microsoft</a></li>
                    <li><a href="subcategory">Intel</a></li>
                    <li><a href="subcategory">HP</a></li>
                    <li><a href="subcategory">LG</a></li>
                    <li><a href="subcategory">Lenovo</a></li>
                    <li><a href="subcategory">ASUS</a></li>
                    <li><a href="subcategory">Acer</a></li>
                    <li><a href="subcategory">Dell</a></li>
                    <li><a href="subcategory">Canon</a></li>
                    <li class="uk-text-center">
                      <a
                        class="uk-link-muted uk-text-uppercase tm-link-to-all"
                        href="brands.html"
                        ><span>Xem tất cả nhãn hiệu</span
                        ><span uk-icon="icon: chevron-right; ratio: .75;"></span
                      ></a>
                    </li>
                  </ul>
                </li>
                <li class="uk-parent">
                  <a href="">Các trang</a>
                  <ul class="uk-nav-sub uk-list-divider">
                    <li><a href="subcategory">Mục lục</a></li>
                    <li><a href="subcategory">Thể loại</a></li>
                    <li><a href="subcategory">Danh mục con</a></li>
                    <li><a href="subcategory">Sản phẩm</a></li>
                    <li><a href="subcategory">Giỏ hàng</a></li>
                    <li><a href="subcategory">Thủ tục thanh toán</a></li>
                    <li><a href="subcategory">So sánh</a></li>
                    <li><a href="subcategory">Nhãn hiệu</a></li>
                    <li><a href="subcategory">Tài khoản</a></li>
                    <li><a href="subcategory">Yêu thích</a></li>
                    <li><a href="subcategory">Cá nhân</a></li>
                    <li><a href="subcategory">Cài đặt</a></li>
                    <li><a href="subcategory">Thông tin</a></li>
                    <li><a href="subcategory">Liên lạc</a></li>
                    <li><a href="subcategory">Blog</a></li>
                    <li><a href="subcategory">Tin tức</a></li>
                    <li><a href="subcategory">Câu hỏi thường gặp</a></li>
                    <li><a href="subcategory">404</a></li>
                  </ul>
                </li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about">Thông tin</a></li>
                <li><a href="contact">Liên lạc</a></li>
                <li>
                  <a href="compare.html"
                    >So sánh<span class="uk-badge uk-margin-xsmall-left"
                      >3</span
                    ></a
                  >
                </li>
              </ul>
            </nav>
            <nav class="uk-card-small uk-card-body">
              <ul class="uk-nav uk-nav-default">
                <li><a href="news.html">Tin tức</a></li>
                <li><a href="faq.html">Câu hỏi thường gặp</a></li>
                <li><a href="">Thanh toán</a></li>
              </ul>
            </nav>
            <nav class="uk-card-body">
              <ul class="uk-iconnav uk-flex-center">
                <li><a href="" title="Facebook" uk-icon="facebook"></a></li>
                <li><a href="" title="Twitter" uk-icon="twitter"></a></li>
                <li><a href="" title="YouTube" uk-icon="youtube"></a></li>
                <li><a href="" title="Instagram" uk-icon="instagram"></a></li>
              </ul>
            </nav>
          </div>
        </aside>
      </div>
      <% if(carts){%> <%- include('component/cart-right',{ carts: carts }) %>
      <%}%>
    </div>
    <script src="scripts/script.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/cart/add-cart.js"></script>
    <script
      src="//maps.googleapis.com/maps/api/js?key=AIzaSyClyjCemJi4m2q78gNeGkhlckpdH1hzTYA&amp;callback=initMap"
      async
      defer
    ></script>
  </body>
</html>
